/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

.container {
    border: 1px solid blue;
    padding: 2% 10%; 
    margin: 10%;
    width: 35rem;
    height: auto;   /* adjust height to fit content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  /* center text inside container */
}

.container h2{
    margin-bottom: 20px;;
}
.user-box {
    margin: 20px;
    position: relative;
}

.user-box label{
    display: block;
    margin-bottom: 5px;
}
.user-box input{
    /* width: 100%;  */
    padding-right: 40px; /*add space for the icon*/
    margin-bottom: 20px;
    padding-left: 10px;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    display: inline-block; 
    min-width: 8rem;
    width: auto; /* allow width to adjust as needed*/
    height: 2rem;
    background-color: aquamarine;
    border: 1px solid black;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 2rem; 
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
    cursor: pointer;
    position: relative;
}
button:hover{
    background-color: rgba(0, 243, 0, 0.319);
    border-color: rgba(0, 100, 0, 0.959);
}
button:active{
    transform: translate(2px, 2px);
    box-shadow: none;
    border: none;
}
/* Ensure responsive links */
@media (max-width: 600px) {
    .container{
        margin:5%;
        padding: 5%;
    }
    button {
        width: 100%;
        margin-left: 0;
    }
    .user-box input{
        width: 100%; /* adjust for full width*/
    }
}
.password-toggle-icon {
    position: absolute;
    top: 50%; /* adjust position to be inside input*/
    right: 10px; /* align to the right side inside the input*/
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 14px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    opacity: 0.5;    
  }
  
  .password-toggle-icon i:hover {
      opacity: 1;
      color: #ff0000;
    }
    #spin{
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid rgba(149, 255, 0, 0.915);
        border-radius: 50%;
        border-top: 1px solid black;
        position: absolute;
        top: 20%; 
        right: 10px; 
        opacity: 0;
    
    }
    .spin-animation{
        animation: spin 1s linear forwards;
        opacity:1;
    }
    .btn-text{
        margin-right: 20px;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }