/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

/* Container styling */
.container {
    border: 1px solid blue;
    padding: 2% 10%; /* Combined shorthand padding */
    margin: 10%;
    max-width: 100%; /* Make the container responsive */
    width: 35rem;
    height: 15rem;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* User box styling */
.user-box {
    margin: 20px;
    position: relative;
}

/* Link styling */
button {
    display: inline-block; /* Ensure padding affects size */
    width: 8rem;
    height: 2rem;
    background-color: aquamarine;
    border: 1px solid black;
    /* padding: 5px; */
    margin-top: 20px;
    margin-left: 10%;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    line-height: 2rem; 
    transition: background-color 0.3s, border-color 0.3s; /* Smooth hover transitions */
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
    cursor: pointer;
}

/* Link hover effect */
button:hover{
    background-color: rgba(0, 243, 0, 0.319);
    border-color: rgba(0, 100, 0, 0.959);
}
button:active{
    transform: translate(2px, 2px);
    box-shadow: none;
    border: none;
}

/* Ensure responsive links */
@media (max-width: 600px) {
    button {
        width: 100%;
        margin-left: 0;
    }
}
.password-toggle-icon {
    position: absolute;
    top: 10%;
    right: 30%;
    /* transform: translateY(-70%); */
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .password-toggle-icon i:hover {
    color: #000;
  }
